body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #fff;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #111;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  z-index: 1000;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle, #222, #000);
}

.btn {
  background: red;
  padding: 12px 18px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 50px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #222;
}

.glow:hover {
  box-shadow: 0 0 15px red;
}

/* CONTACT */
.contact {
  padding: 40px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  color: white;
}

/* ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
